.dropdown{
    width: 9.5rem;
    border-radius: 0.8rem;
    text-align: center;
}

.button{
    padding: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid darkred;
}

.button:hover{
    cursor: pointer;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.6);
}

.content{
    padding: 1rem;
    background: white;
    width: 9.5rem;
    z-index: 999;
    position: absolute;
}

.item{
    padding: 1rem;
    transition: all 0.2s;
    color: black;
}

.item:hover{
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.6);
}