.container{
    width: 2rem;
    height: 2rem;
    background-color: #202020;
    border: 2px solid #B388FF;
    border-radius: 7px;
    box-shadow: 1px 2px 2px 1px rgba(255, 255, 255, 0.50);
    margin: 0.2rem;
}

.container:hover{
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(220, 220, 220, 0.6);
}

.active{
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: 2px solid var(--secondColor);
    border-radius: 7px;
    margin: 0.2rem;
}

