.container{
    width: 2rem;
    height: 2rem;
    background-color: #202020;
    border: 2px solid #B388FF;
    margin: 1px;
    border-radius: 7px;
}

.container:hover{
    cursor: pointer;
}

.active{
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: 2px solid var(--secondColor);
    margin: 1px;
    border-radius: 7px;
}

