.container{
    width: 31px;
    height: 31px;
    background-color: #202020;
    border: 2px solid #B388FF;
    margin: 1px;
    border-radius: 7px;
}

.container:hover{
    cursor: pointer;
}

.active{
    width: 31px;
    height: 31px;
    background-color: white;
    border: 2px solid darkred;
    margin: 1px;
    border-radius: 7px;
}

