.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 3px solid #515151;
    padding: 1rem 6.5rem;
    width: 33rem;
    background: linear-gradient(#3C3B3D, black);

}

/* Solid border */
.divider {
    display: flex;
    border-top: 3px solid #515151;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 120%;

}

/* slider part*/
.slidersContainer {
    height: 25rem;
    width: 100%;
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 1rem;
}

.section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.rhythmButtonsSection{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.rhythmButtonsControls{
    display: flex;
    flex-flow: row;
    margin-bottom: 1rem;
}

.rhythmButtonsList{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-height: 4.5rem;
    width: 26rem;
}

.playButtons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;

}

.auxButtons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width:  110%;
    align-items: center;
}