.container {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 1rem 2rem;


}
/* drumpad section */
.drumpad {
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
}

.display{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 80%;
    background-color: #202020;
    border: 2px solid #515151;
    border-radius: 5px;
}