.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 3px solid #B388FF;
    padding: 1rem 2.5rem;
    width: 30%;
    background: linear-gradient(#3C3B3D, black);
}

/* slider part*/
.slidersContainer {
    height: 55%;
    width: 90%;
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
}

.section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}
