.display{
    height: 20rem;
    display: flex;
    flex-direction: row;
    width: 60rem;
    border: 2px solid #515151;
    border-radius: 5px;
    overflow-x: auto;

}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
    width: 100%;

}

.title{
    display: flex;
    align-items: center;
    width: 5.5rem;
    height: 2rem;
}


.columnTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-right: 1rem;
}

.tab{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.columnSteps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2.2rem;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
}

.allDisplayBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
}

.toggle{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    border: 2px solid var(--secondColor);

}

.toggleActive{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background: white;
    border: 2px solid var(--secondColor);
}

@media (max-width: 1366px) {
    .display{
        width: 95%;
        max-width: 42rem;
        padding: 2% 2%;
        margin: 1rem 0;

    }

}

