.display{
    height: 20rem;
    display: flex;
    flex-direction: row;
    width: 70rem;
    background-color: #202020;
    border: 2px solid #515151;
    border-radius: 5px;
    overflow-x: auto;
}

.container{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    width: 100%;

}

.title{
    display: flex;
    align-items: center;
    width: 5.5rem;
    height: 2rem;
}

.columnTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.tab{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.columnSteps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3rem;
}

.box{
    display: flex;
    justify-content: center;
    width: 3rem;
    height: 2rem;
}

.toggle{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: white;
    border: 1px solid red;
}

.toggleActive{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: red;
    border: 1px solid white;
}


