.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    line-height: 42px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    border-radius: 5px;
}

/*Da modificare - BOTTONI CON NUMERI*/

/*aux buttons: play, pause, stop*/
.btn--primary {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: white;
    line-height: 42px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid var(--firstColor);
    color: var(--fourthColor);
    font-weight: 500;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    width: 80px;
    height: 30px;
    box-shadow: 1px 2px 2px 1px rgba(226, 43, 43, 0.5);
}

.btn--primary:hover{
    color: var(--thirdColor);
    background: var(--firstColor);
    box-shadow: 0 2px 2px rgba(220, 220, 220, 0.6);

}

.btn--primary--active {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: var(--firstColor);
    line-height: 42px;
    padding-left: 5px;
    padding-right: 5px;
    /*border: 3px inset var(--thirdColor); */
    border-right: 1px solid var(--thirdColor);
    border-bottom: 1px solid var(--thirdColor);
    color: var(--thirdColor);
    font-weight: 500;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    width: 80px;
    height: 30px;
}

/*Da modificare -> BOTTONI SOTTO AL DISPLAY*/
.btn--secondary {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: white;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #FB5849;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    border-radius: 5px;
}

.btn--secondary:hover{
    background: white;
    color: #FB5849;
    box-shadow: 0 20px 20px 0 rgba(255, 255, 255, 0.42);
}

.btn--secondary {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #FB5849;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    border-radius: 5px;
}
