.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0.5rem 1.5rem;
    padding: 0.5rem 1.5rem;
    background: url("../../../../assets/logo.png") bottom right no-repeat;
    background-size: contain ;

}

.line{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stepButton{
    display: flex;
    flex-direction: row;
}

.title{
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 5.5rem;
    height: 2.5rem;
}

