.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0.5rem 1.5rem;
}

.line{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stepButton{
    display: flex;
    flex-direction: row;
}

.title{
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 5.5rem;
    height: 2.5rem;
}

