.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2%;
    background: url("../../../../assets/logo.png") bottom right no-repeat;
    background-size: contain;
    height: auto;
}

.line{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stepButton{
    display: flex;
    flex-direction: row;
}

.title{
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 5.5rem;
    height: 2.5rem;
}

@media (max-width: 1366px) {
    .container{
        width:  100%;
        height: auto;
        background: url("../../../../assets/logo.png") center right no-repeat;
        background-size: 150px 168px;
        padding: 0;
        margin: 0;
    }
    .line{
        height: auto;
        margin: 0.2% 0;
    }

}