/* gray background */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
}
.titleContainer{
    color: black;
    margin-top: 5%;
    position: relative;
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    height: 8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 3rem;
    font-size: 24px;
    font-weight: bold;
}

.popup{
    color: black;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    justify-content: center;
    background: linear-gradient(white, #515151);
    height: 20rem;
    width: 50%;
}

.closeButton{
    font-size: 12pt;
    font-weight: lighter;
    cursor: pointer;
    margin-top: 1.2rem;
    margin-left: 0.7rem;
}

.popupDivider {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 30%;
}

@media screen and (max-width: 960px) {

    .popup{
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        background-color: white;
    }
}
