.container {
    display: flex;
    flex-direction: row;
    background: var(--eighthColor);
    height: 50rem;
    width: 110rem;
    min-height: 108px;
    min-width: 192px;
    border: 5px groove var(--sixthColor);
    background: linear-gradient(var(--fifthColor), black);
    border-radius: 5px;
}

@media (max-width: 1366px) {
    .container{
        height: 86vh;
        width: 90vw;
    }
}
