.container {
    display: flex;
    flex-direction: row;
    background: #efefef;
    height: 50rem;
    width: 110rem;
    min-height: 108px;
    min-width: 192px;
    border: 5px groove #515151;
    background: linear-gradient(#3C3B3D, black);
    border-radius: 5px;
}
