.container{
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

.line{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stepButton{
    display: flex;
    flex-direction: row;
}

.title{
    width: 10%;
}