.container{
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

.line{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stepButton{
    display: flex;
    flex-direction: row;
}

.title{
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 5.5rem;
    height: 2.5rem;
}

.rhythmButtons{
    display: flex;
    flex-direction: row;
}