.container {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    background: transparent;
    padding: 1% 1%;
    margin-top: 0.5rem;

}

.sounds{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.setSounds{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

}

.arrow{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: 2px solid var(--secondColor);
    background: var(--thirdColor);
    border-radius: 5px;
    color: black;
    height: 27px;
    margin: 0 0.5rem;
}

.arrow:hover{
    color: var(--secondColor);
    cursor: pointer;
}

/* drumpad section */
.drumpad {
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    overflow-y: scroll;
}

.patterns{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

@media (max-width: 1366px) {
    .container{
        width: 90%;
        padding: 0 2% 2% 2%;
    }
    .drumpad{
        min-height: 22rem;
        width: 95%;
        padding: 1% 0 0 4%;
        justify-content: space-between;
    }
}

@media (max-width: 1024px) {
    .container{
        width: 90%;
        padding: 0 2% 2% 2%;
        margin-top: 0;
    }
    .drumpad{
        height: auto;
        min-height: 43%;
        width: 95%;
        padding: 2% 0 2% 4%;

    }
}
