.container {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    background: transparent;
    padding: 1% 1%;
    margin-top: 1%;

}
/* drumpad section */
.drumpad {
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    overflow-y: scroll;
}

@media (max-width: 1366px) {
    .container{
        width: 90%;
        padding: 2% 2%;
    }
    .drumpad{
        height: auto;
        width: 95%;
        padding: 2% 0 2% 4%;
    }
}

@media (max-width: 1024px) {
    .container{
        width: 90%;
        padding: 0 2% 2% 2%;
        margin-top: 0;
    }
    .drumpad{
        height: auto;
        min-height: 43%;
        width: 95%;
        padding: 2% 0 2% 4%;
    }
}
