.container {
    display: flex;
    width: 77rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 1rem 3.5rem;

}
/* drumpad section */
.drumpad {
    padding: 0.5rem 1.5rem;
    height: 25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
}

.display{
    height: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: #202020;
    border: 2px solid #515151;
    border-radius: 5px;
}