:root {
  --firstColor: darkred;
  --secondColor: #b388ff;
  --thirdColor: white;
  --fourthColor: black;
  --fifthColor: #3C3B3D;
  --sixthColor: #515151;

  --borderRadSett: 0.5rem;
}

body {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
