.container {
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    padding: 0;
    margin: 0;
}

/*PALLINO*/
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: background .15s ease-in-out;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: background .15s ease-in-out;
}

.slider::-moz-range-progress{
    background: red;
    height: 10px;
    border-radius: 5px;
}
/*FINE PALLINO*/

.value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 12px;
    font-size: 18px;
}

.value:after {
    position: absolute;
    top: 8px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    content: '';
}